/* VARIABLES */
:root {
  --background: hsl(212, 45%, 89%);
  --cardBackground: hsl(0, 0%, 100%);
  --title: hsl(218, 44%, 22%);
  --text: hsl(220, 15%, 55%);
  --links: hsl(228, 45%, 44%);

  --font: 'Outfit', sans-serif;
  font-size: 62.5%;
}

/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* GLOBAL */
html {
  font-size: 16px;
}
body {
  background-color: var(--background);
  max-height: 100vh;
  font-family: var(--font);
  font-size: 1.5rem;
  text-align: center;
}

/* MAIN */
.main {
  height: calc(100vh - 2rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* section.card */
.card {
  background-color: var(--cardBackground);
  border-radius: 2rem;
  width: min-content;
}

/* img.card__img */
.card__img {
  border-radius: 1rem;
  width: 28.8rem;
  height: 28.8rem;
  margin: 1.7rem;
}

/* h1.card__title */
.card__title {
  margin: 0 1.5rem 1.5rem;
  font-weight: 700;
  color: var(--title);
}

/* p.card__text */
.card__text {
  margin: 0 3rem 4rem;
  color: var(--text);
}


/* FOOTER */

.attribution { 
  height: 2rem;
  font-size: 1.1rem;
}
.attribution__links {
  color: var(--links);
}