/* VARIABLES */
:root {
  --background: hsl(212, 45%, 89%);
  --cardBackground: hsl(0, 0%, 100%);
  --title: hsl(218, 44%, 22%);
  --text: hsl(220, 15%, 55%);
  --links: hsl(228, 45%, 44%);

  --font: 'Outfit', sans-serif;
}

/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* GLOBAL */
body {
  background-color: var(--background);
  max-height: 100vh;
  font-family: var(--font);
  font-size: 15px;
  text-align: center;
}

/* MAIN */
.main {
  height: calc(100vh - 20px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* section.card */
.card {
  background-color: var(--cardBackground);
  border-radius: 20px;
  width: min-content;
}

/* img.card__img */
.card__img {
  border-radius: 10px;
  width: 288px;
  height: 288px;
  margin: 17px;
}

/* h1.card__title */
.card__title {
  margin: 0 15px 15px;
  font-weight: 700;
  color: var(--title);
}

/* p.card__text */
.card__text {
  margin: 0 30px 40px;
  color: var(--text);
}


/* FOOTER */

.attribution { 
  height: 20px;
  font-size: 11px;
}
.attribution__links {
  color: var(--links);
}